# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Authors:
# - Paul Nilsson, paul.nilsson@cern.ch, 2025


################################
# Large language model parameters
# Default values for LLM model selection that iwll be used in case no
# model is specified on the client command line.

[LLM]

name: mistral
model: mistral-7b-instruct-v0.1

################################
# Experiment specific parameters

[Experiment]

name: ATLAS


################################
# Pilot parameters

[Pilot]

# Pilot logs
pilotlog: pilotlog.txt
stageinlog: stageinlog.txt
stageoutlog: stageoutlog.txt


################################
# Payload parameters

[Payload]

# File name for production job metadata
metadata: metadata.xml

# File names for stdout/stderr
payloadstdout: payload.stdout
payloadstderr: payload.stderr

# The payload may produce an error report with a specifiec error_code and error_diag.
# If the file exists, the pilot will use it to report the error.
error_report: payload_error_report.json
